https://campus.datacamp.com/courses/natural-language-processing-fundamentals-in-python/building-a-fake-news-classifier?ex=5

In [18]:
#Import the necessary modules
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split
from sklearn.datasets import load_files

In [19]:
movie_data = load_files(r"C:\txt_sentoken")
X, y = movie_data.data, movie_data.target

In [20]:
# Create training and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=53) 

# Initialize a CountVectorizer object: count_vectorizer
count_vectorizer = CountVectorizer(stop_words="english")

# Transform the training data using only the 'text' column values: count_train 
count_train = count_vectorizer.fit_transform(X_train)

# Transform the test data using only the 'text' column values: count_test 
count_test = count_vectorizer.transform(X_test)

# Print the first 10 features of the count_vectorizer
print(count_vectorizer.get_feature_names()[:10])

['00', '000', '0009f', '007', '03', '04', '05', '05425', '10', '100']

In [23]:
# Import TfidfVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer

# Initialize a TfidfVectorizer object: tfidf_vectorizer
tfidf_vectorizer = TfidfVectorizer(stop_words='english',max_df=0.7)

# Transform the training data: tfidf_train 
tfidf_train = tfidf_vectorizer.fit_transform(X_train)

# Transform the test data: tfidf_test 
tfidf_test = tfidf_vectorizer.transform(X_test)

# Print the first 10 features
print(tfidf_vectorizer.get_feature_names()[:10])

# Print the first 5 vectors of the tfidf training data
print(tfidf_train[:5])

['00', '000', '0009f', '007', '03', '04', '05', '05425', '10', '100']
  (0, 26274)	0.01919478976465854
  (0, 7553)	0.04695083061445073
  (0, 186)	0.0357812245316206
  (0, 285)	0.04116158299320493
  (0, 12517)	0.06771916365645315
  (0, 19496)	0.06771916365645315
  (0, 5388)	0.05641977731387568
  (0, 20659)	0.06771916365645315
  (0, 20393)	0.05781015053701714
  (0, 29872)	0.06069971973884306
  (0, 11784)	0.06637291047978482
  (0, 21452)	0.03734759499613007
  (0, 23879)	0.03411500190595826
  (0, 12658)	0.013723926145362407
  (0, 26217)	0.04790113741758111
  (0, 27761)	0.030067975289399806
  (0, 22048)	0.023083465344589292
  (0, 21975)	0.05781015053701714
  (0, 10832)	0.04790113741758111
  (0, 4717)	0.10640544364006567
  (0, 23288)	0.03456050344058903
  (0, 18791)	0.04530636812585292
  (0, 30370)	0.037664103697129366
  (0, 10137)	0.05641977731387568
  (0, 33091)	0.01826737264893649
  :	:
  (4, 7353)	0.050624691142996246
  (4, 19853)	0.026281418402448516
  (4, 23666)	0.05233843977568406
  (4, 28394)	0.03278868935500779
  (4, 12036)	0.05766182925272683
  (4, 32673)	0.026346229146555204
  (4, 22566)	0.040787083857034036
  (4, 13174)	0.02514377443925551
  (4, 25605)	0.02992988002499263
  (4, 7055)	0.03796294739674342
  (4, 17614)	0.0308085546796776
  (4, 23039)	0.04701505029864129
  (4, 19870)	0.03220878926779342
  (4, 19648)	0.054547846031923204
  (4, 29817)	0.04218731844514985
  (4, 24768)	0.03249326725660982
  (4, 29816)	0.03857767760079489
  (4, 786)	0.04218731844514985
  (4, 31424)	0.03325428812375212
  (4, 28312)	0.031044881867512975
  (4, 5752)	0.041226062052854194
  (4, 24704)	0.04218731844514985
  (4, 6353)	0.03325428812375212
  (4, 18418)	0.04218731844514985
  (4, 1197)	0.04701505029864129

In [28]:
# Create the CountVectorizer DataFrame: count_df
count_df = pd.DataFrame(count_train.A, columns=count_vectorizer.get_feature_names())

# Create the TfidfVectorizer DataFrame: tfidf_df
tfidf_df = pd.DataFrame(tfidf_train.A, columns=tfidf_vectorizer.get_feature_names())

# Calculate the difference in columns: difference
difference = set(count_df.columns) - set(tfidf_df.columns)
print(difference)

{'movie', 'film', 'like'}

In [29]:
# Check whether the DataFrames are equal
print(count_df.equals(tfidf_df))

False

In [26]:
# Print the head of tfidf_df
print(tfidf_df.head())

    00  000  0009f  007   03   04   05  05425        10       100  ...  zorro  \
0  0.0  0.0    0.0  0.0  0.0  0.0  0.0    0.0  0.030279  0.037042  ...    0.0
1  0.0  0.0    0.0  0.0  0.0  0.0  0.0    0.0  0.000000  0.000000  ...    0.0
2  0.0  0.0    0.0  0.0  0.0  0.0  0.0    0.0  0.000000  0.000000  ...    0.0
3  0.0  0.0    0.0  0.0  0.0  0.0  0.0    0.0  0.000000  0.000000  ...    0.0
4  0.0  0.0    0.0  0.0  0.0  0.0  0.0    0.0  0.000000  0.000000  ...    0.0

   zucker  zuehlke  zuko  zukovsky  zulu  zweibel  zwick  zwigoff  zycie
0     0.0      0.0   0.0       0.0   0.0      0.0    0.0      0.0    0.0
1     0.0      0.0   0.0       0.0   0.0      0.0    0.0      0.0    0.0
2     0.0      0.0   0.0       0.0   0.0      0.0    0.0      0.0    0.0
3     0.0      0.0   0.0       0.0   0.0      0.0    0.0      0.0    0.0
4     0.0      0.0   0.0       0.0   0.0      0.0    0.0      0.0    0.0

[5 rows x 33507 columns]

In [25]:
# Print the head of count_df
print(count_df.head())

   00  000  0009f  007  03  04  05  05425  10  100  ...  zorro  zucker  \
0   0    0      0    0   0   0   0      0   1    1  ...      0       0
1   0    0      0    0   0   0   0      0   0    0  ...      0       0
2   0    0      0    0   0   0   0      0   0    0  ...      0       0
3   0    0      0    0   0   0   0      0   0    0  ...      0       0
4   0    0      0    0   0   0   0      0   0    0  ...      0       0

   zuehlke  zuko  zukovsky  zulu  zweibel  zwick  zwigoff  zycie
0        0     0         0     0        0      0        0      0
1        0     0         0     0        0      0        0      0
2        0     0         0     0        0      0        0      0
3        0     0         0     0        0      0        0      0
4        0     0         0     0        0      0        0      0

[5 rows x 33510 columns]