In [28]:
#Import libraries
import pandas as pd
import os
import glob
import xml.etree.ElementTree as et

In [29]:
#Change to directory with xml files in it
os.chdir('YOUR_FILE_DIRECTORY')
#Create blank list to hold dictionaries
data_list = []
for files in glob.iglob('*.xml'):
    tree = et.parse(files)
    root = tree.getroot()
    for comp in root.iter('{http://www.irs.gov/efile}Form990PartVIISectionAGrp'):
        try:
            name = comp.find('{http://www.irs.gov/efile}PersonNm').text
            title = comp.find('{http://www.irs.gov/efile}TitleTxt').text
            comp_from_org = comp.find('{http://www.irs.gov/efile}ReportableCompFromOrgAmt').text
            comp_from_rltd = comp.find('{http://www.irs.gov/efile}ReportableCompFromRltdOrgAmt').text
            oth_comp = comp.find('{http://www.irs.gov/efile}OtherCompensationAmt').text
            #Create dictionary and append to list
            data_dict = dict(name=name,title=title,comp_org=comp_from_org,comp_rltd=comp_from_rltd,comp_oth=oth_comp)
            data_list.append(data_dict)
        except(AttributeError):
            pass

In [30]:
df = pd.DataFrame(data_list)

In [31]:
df.head()

  comp_org comp_oth comp_rltd              name         title
0        0        0         0     FRANK CEBULAR     SECRETARY
1        0        0         0  MARY ANN GLOCKER     PRESIDENT
2        0        0         0      PAUL KENNEDY  BOARD MEMBER
3        0        0         0     RICHARD KNARR  BOARD MEMBER
4        0        0         0        AMY LEHMAN  BOARD MEMBER

In [8]:
#Export to csv file
df.to_csv('nonprofit.csv')

In [ ]:
df.sort_values(['comp_org'], ascending=False)